{# 
    piccBundle::index.html.twig
    
    Index page, will show the 10's last Picc
#}

{# Inherits base twig template, whitch include bootstrap, jquery, etc #}
{% extends 'piccBundle::base.html.twig' %}

{# Overwrite body from base.twig #}
{% block body %}

    {# For each picc in piccs, draw it as bootstrap::panel #}
    {% for picc in piccs %}
		<div class="panel panel-default">
			<div class="panel-body">
    			{{ picc.revisionContent }}	
			</div>
            {# Picc informations in footer #}
			<div class="panel-footer">
            <span class="label label-default">#{{ picc.id }}</span>
            <span class="label label-primary">{{ picc.userDisplayName }}</span>
            <span class="badge progress-bar-success">+{{ picc.voteUp }}</span>
            <span class="badge progress-bar-danger">-{{ picc.voteDown }}</span>
            <span class="label label-info">comms {{ picc.commentCount }}</span>
            <span class="label label-warning">{{ picc.datePublish }}</span>
			    
                
            </div>
			</div>
    {% endfor %}

{% endblock %}
